# black list
.vagrant
**.swp
mykey.peer
keeper.ini
seafile-license.txt
puppet/code/environments/production/modules/keeper/manifests/init.pp
puppet/code/environments/production/data/keeper-puppet.ini
puppet/code/environments/production/modules/keeper/files/*.gz
